<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>

<div>
  <%= image_tag @picture.photo.url(:big) %>
</div>

<p>
  <b>Tags:</b>
  <%= @picture.tags %>
</p>


<%= link_to 'Edit', edit_album_picture_path(album, @picture) %> |
<%= link_to 'Back', album_path(album) %>
